<!DOCTYPE html>
<html lang="pt-BR" ng-app="shoppingListApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Compras</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body>
  <div class="container mt-5" ng-controller="ShoppingListController">
    <h1>Lista de Compras</h1>
    <form ng-submit="addItem()" class="mb-3">
      <div class="form-group">
        <input type="text" ng-model="newItem" class="form-control" placeholder="Adicione um item" required>
      </div>
      <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="item in items">
        {{ item }}
        <button class="btn btn-danger btn-sm float-right" ng-click="removeItem($index)">Remover</button>
      </li>
    </ul>
  </div>
</body>

</html>